@import url(../fonts/yekan/css/fontiran.css);

html {
    -webkit-text-size-adjust: none;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: iranyekan, sans-serif;
    background-color: #f7fafc;
    direction: rtl;
    padding: 0 !important;
    overflow-x: hidden;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: #f1c40f;
}

.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}

input[type="text"]:focus, input[type="password"]:focus,
textarea:focus, select:focus {
    font-size: 16px;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}

.smart-scroll {
    position: sticky;
    position: -webkit-sticky;
    top: 51px;
    z-index: 1010;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.4s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.4s ease-in-out;
}

.small-s {
    font-size: 70%;
    font-weight: 400;
}

.btn {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    outline: none;
    box-shadow: none;
}

input {
    outline: none !important;
    box-shadow: none;
}

button {
    outline: none !important;
    box-shadow: none;
}

textarea {
    outline: none !important;
    box-shadow: none;
}

select {
    outline: none !important;
    box-shadow: none;
}

.btn:active {
    outline: none;
    box-shadow: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.input-search:active {
    outline: none;
    box-shadow: none;
}

.input-search:focus {
    outline: none;
    box-shadow: none;
}

.input-search:hover {
    outline: none;
    box-shadow: none;
}

.basket {
    height: 30px;
}

.w100 {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.bg-main {
    background: #f1c40f;
}

.bg-blue {
    background: #3498db;
}

.bg-black{
    background: #0b0b0b;
}

.shayanpet-slider {
    height: 276px;
    background: white;
}

.a-nav-top {
    color: #3c3c3c;
    font-size: 1rem;
}

.btn-s {
    padding: 0 !important;
    border: none !important;
}

.profile {
    padding: 10px 0;
}

.z-22 {
    z-index: 22;
}

#scroll-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 999; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f1c40f; /* Set a background color */
    color: #ffffff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px 24px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 1.3rem; /* Increase font size */
    transition: all 0.18s ease-in-out;
}

#scroll-to-top:hover {
    background-color: #007bff; /* Add a dark-grey background on hover */
}

.i-top {
    color: #3c3c3c;
}

.showcase {
    background: #7abaff;
    color: #fff;
    height: 100vh;
    position: relative;
}

.showcase:before {
    content: '';
    background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
}

.btn-hum {
    display: inline-block;
    border: none;
    background: #7abaff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}

.btn-hum:hover {
    opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
    position: absolute;

    right: 0;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 22;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 15px;
    width: 32px;
    height: 32px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #1f1e1e;
    display: flex;
    z-index: 22;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 22;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: #ffffffeb;
    width: 100%;
    height: 100%;
    z-index: 21;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: black;
    text-decoration: none;
    transition: color 0.4s ease;
}

.topnav {
    overflow: hidden;
    background-color: #cb2d2d;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
topnav .active {
    background-color: #4CAF50;
    color: white;
}


.nav-item-hover:hover {
    color: #f1c40f;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #f1c40f;
    text-decoration: none;
    background-color: transparent;
    width: fit-content;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    position: absolute !important;
    transform: none !important;
    left: 0;
    right: 0;
    width: 100%;
    will-change: unset !important;
    top: 35px !important;
    border: none;
    border-radius: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0 32px 83px -28px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 32px 83px -28px rgba(0, 0, 0, 0.16);
    box-shadow: 0 32px 83px -28px rgba(0, 0, 0, 0.16);
}

.dropdown-menu h5 {
    font-size: 1rem;
    padding: 5px 0 10px 0;
    text-align: right;
    border-bottom: 2px solid #f1c40f;
}

.dropdown-menu h4 {
    font-size: 1rem;
    padding: 5px 0 7px 0;
    text-align: center;
}

.dropdown-menu-2 {
    position: absolute;
    border: none;
    background: white;
}


.navbar-nav ul {
    margin: 0 !important;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}


.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    color: #212529;
    text-align: right;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}

.dropdown-item-mega {
    width: 100px;
}

.dropdown-item-mega:hover {
    background-color: white !important;
}

.dropdown-item-mega.active, .dropdown-item-mega:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item-mega:focus {
    background-color: white;
}


.dropdown-item-sub {
    display: block;
    clear: both;
    color: #212529;
    text-align: inherit;
    font-size: 0.825rem;
}

.dropdown-item-sub:hover {
    color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #f1c40f;
    text-decoration: none;
    background-color: transparent;
    width: fit-content;
}

.sub-drop-main {
    position: absolute;
    top: -10px;
    right: 99px;
    z-index: 1000;
    display: none;
    width: 651px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.88rem;
    color: #212529;
    text-align: right;
    list-style: none;
    height: 334px;
    background-color: white;
    background-clip: padding-box;
    border: none !important;
    border-radius: 0;
}

.user-menu-dropdown {
    top: 46px !important;
    transform: none !important;
    width: 210px !important;
}

.sub-cat {
    top: -63px;
}

.sub-fish {
    top: -116px;
}

.sub-bird {
    top: -169px;
}

.sub-rodent {
    top: -222px;
}

.sub-reptile {
    top: -275px;
}

.logo_size_30 {
    width: 190px;
}

.a-link-header {
    font-size: 14px;
    color: #000000;
    transition: all, 0.3s;
    padding: 20px 0;
}

.top-padding-main {
    height: 47px;
    width: 100%;
}

.form-control {
    display: block;
    width: 100% !important;
    font-weight: 400;
    line-height: 1.5;
    height: 35px;
    color: #9aa2a9;
    background-color: #f7fafc;
    background-clip: padding-box;
    border: none;
    border-radius: 1.25rem;
    font-size: 0.7rem;
}

.btn-search {
    border-radius: 1.3rem 0 0 1.3rem;
    height: 33px;
    color: #9aa2a9;
    position: absolute;
    left: 16px;
}

.btn-on-img {
    position: absolute;
    top: 72%;
    left: 22%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.title-on-img {
    position: absolute;
    top: 32%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
}

.title-on-img-small {
    position: absolute;
    top: 23%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
}

.img-small-2 {
    color: #2b2b2b;
}

.h-nav-top {
    height: 50px;
    /* top: 67px; */
    /* z-index: 1010; */
    width: 100%;
}

.box-1 {
    height: 404px;
    width: 100%;
    background: #c40ff1;
}

.box-2 {
    height: 404px;
    width: 100%;
    background: white;
}

.box-3 {
    height: 193px;
    width: 100%;
    background: #0fadf1;
}

.box-4 {
    height: 193px;
    width: 100%;
    background: #f75259;
}

.box-5 {
    height: 193px;
    width: 100%;
    background: #adf10f;
}

.box-6 {
    width: 100%;
    border: 1px solid #DEE2E6;
}

.box-7 {
    height: 463px;
    width: 100%;
    background: #f1c40f url("../img/img/pattern.png");
}

.box-8 {
    height: 130px;
    width: 100%;
    background: #f1508a;
}

.box-9 {
    height: 130px;
    width: 100%;
    background: #f1aa16;
}

.img-box-3 {
    width: 100%;
    max-width: 678px;
    height: auto;
    right: 0;
    bottom: 0;
    position: absolute;
}

.img-box-4 {
    width: 100%;
    max-width: 400px;
    height: auto;
    right: 0;
    bottom: 0;
    position: absolute;
}

.img-box-8 {
    width: 100%;
    max-width: 400px;
    height: auto;
    left: 0;
    bottom: 0;
    position: absolute;
}

.price-font-small {
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 0;
    text-align: center;
}

.toman-price {
    color: #222222;
    font-weight: 400;
    font-size: 0.79rem;
    padding-right: 6px;
}

.category-w350 {
    width: 100%;
    height: auto;
    background: white;
}

.img-item-small {
    min-width: 80px;
    max-width: 100px;
    padding: 0.2rem;
}

.img-item-top {
    min-width: 110px !important;
    max-width: 110px;
    padding: 0.2rem;
}

.font-sub-item-cat {
    font-size: 0.77rem;
    height: 38px;
    color: #1c1c1c;
    margin-bottom: 0;
}

.font-sub-item-article {
    font-size: 0.87rem;
    height: 168px;
    margin-bottom: 0;
    text-align: justify;
    color: #2b2b2b;
    line-height: inherit;
}

.font-title-article {
    font-size: 0.93rem;
    margin-bottom: 10px;
    text-align: right;
    color: black;
    font-weight: bold;
}

.category-h240 {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ddd
}

.category-h330 {
    width: 100%;
    height: 310px;
    border-radius: 5px;
    background-color: #ffffff;
}

.category-h330-dmv {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    background-color: #ffffff;
}

.img-item {
    min-width: 115px !important;
    max-width: 115px;
    padding: 0.4rem;
}

.star-gold {
    color: gold;
}

.items-count {
    border: none;
    margin: 7px;
    padding: 0;
    color: #0fabc6;
    cursor: pointer;
    text-align: center;
    height: 100%;
    border-radius: 8px;
    background: white;
}

.reduced {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.increase {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.number-item {
    width: 33%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    background: white;
    /* border-radius: 23%; */
    border: none;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 15px;
}

.category-w235 {
    width: 100%;
    height: auto;
}

.text-card {
    color: #515151;
}

.text-card:hover {
    color: #000000;
}

.text-card:visited {
    color: #515151;
}

.price-font {
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
}

.toman-price {
    color: #222222;
    font-weight: 400;
    font-size: 0.79rem;
    padding-right: 6px;
}

.toman-price-off {
    color: #595d61 !important;
    font-size: 0.85rem !important;
    text-decoration: line-through;
    font-weight: 400;
}

.hvr-fade {
    border: none;
    padding: 5px 16px;
    border-radius: 25px;
    font-size: 0.65rem;
    background-color: #f5f5f5;
    color: #252525;
    transition: all 0.3s ease-in-out;
}

.hvr-fade:hover {
    background-color: #0f3cf1;
    color: white;
}

.hvr-fade:focus {
    border: none;
    outline: none;
}

.carousel-item-title {
    height: 60px;
    overflow-y: hidden;
}

.carousel-item-title h4 {
    font-size: 0.85rem;
    margin-bottom: 0;
    line-height: 1.5;
}
.carousel-item-title-basket {
    height: 40px;
    overflow-y: hidden;
}
.h-195{
    height: 195px;
}
.carousel-item-title-interest {
    height: 70px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.position-img-interest{
    right: 17px;
    position: absolute;
}
.test2 {
    height: auto;
    width: 100%;
    background-color: #161614;
}

.ul-footer-title {
    list-style: none;
    text-align: right;
    margin-top: 22px;
}

.ul-footer-title li a {
    color: #dfdfdf;
    font-size: 0.8rem;
    text-decoration: none;
}

.ul-footer-title li a:hover {
    color: #f1c40f;
}

.form-control-footer {
    display: block;
    width: 100% !important;
    font-weight: 400;
    line-height: 1.5;
    height: 40px;
    color: #9aa2a9;
    background-color: #f7fafc;
    background-clip: padding-box;
    border: 1px solid #e3e6e8;
    border-radius: .25rem;
    font-size: 0.7rem;
}

.btn-send-email {
    position: relative;
    top: -40px;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f1c40f;
    color: #3c3c3c;
    font-size: 0.8rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.btn-send-email:hover {
    background-color: #0f3cf1;
    color: #ffffff;
}

.footer-title {
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.footer-contact {
    color: #a1aab2;
    font-size: 0.88rem;
}

.footer-copyright {
    color: #97a0a8;
    font-size: 0.75rem;
}

.footer-contact-17rem {
    color: #a1aab2;
    font-size: 1.7rem;
}

.footer-contact-2 {
    color: #dfdfdf;
    font-size: 0.88rem;
}

.logo-enamad {
    width: 95px;
}

.small-logo-footer {
    height: 30px;
}

.border-bottom-c2 {
    border-bottom: 1px solid #4d5669;
}

.a-shop-off {
    color: #1c1c1c;
}

.category-v240 {
    width: 100%;
    height: auto;
}

.carousel-indicators li {
    height: 12px;
    width: 12px;
    background-color: #747474;
    border-radius: 50%;
    border-top: none !important;
    border-bottom: none !important;
}

.carousel-control-next-icon {
    background-image: url("../images/sliders/icons8-chevron-right-16.png");
}

.carousel-control-prev-icon {
    background-image: url("../images/sliders/icons8-chevron-left-16.png");
}

.top-sub-menu-dropdown {
    will-change: transform;
    transform: translate3d(25px, 129px, 0px);
    position: absolute !important;
    top: -96% !important;
    right: 131% !important;
}

/* page product*/

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent !important;
}

.breadcrumb-item + .breadcrumb-item {
    padding-right: 0;
    padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    color: #6c757d;
    content: "/";
}

.breadcrumb-item a {
    color: #696969;
    font-size: 0.72rem;
    font-weight: 400;
}

.breadcrumb-item a:hover {
    color: #252525;
    text-decoration: none;
    font-weight: 600;
}


nav > div a.nav-item.nav-lin {
    border: none;
    padding: 20px 60px;
    color: #262626;
    background: #e2e2e2;
    border-radius: 0;
}

/*nav > div a.nav-item.nav-link,*/
nav > div a.nav-item.nav-lin.active {
    border: none;
    padding: 20px 60px;
    color: #262626;
    background: #f1c40f;
    border-radius: 0;
}

.nav-tabs .nav-item {
    margin-bottom: -1px !important;
}

.tab-content {
    background: white;
    line-height: 25px;
    border: none;
    border-top: 2px solid #f1c40f;
    border-bottom: 2px solid #f1c40f;
}

.tab-content-xs {
    background: white;
    line-height: 25px;
    border: none;
    border-top: 2px solid #f1c40f;
    border-bottom: none;
}

.top-0 {
    top: 0 !important;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: #0b0b0b;
}

nav > div a.nav-item.nav-lin:hover,
nav > div a.nav-item.nav-lin:focus {
    border: none;
    background: #f1c40f;
    color: #262626;
    border-radius: 0;
    transition: background 0.20s linear;
}

.font-88 {
    font-size: 0.88rem;
}

.button-buy {
    font-size: 1rem;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    text-align: center;
    background-color: #ef394e;
    border: none;
    padding: 10px 30px;
    transition: all 0.2s ease-out;
}

.button-buy:hover {
    background-color: #c7293b;
    color: #fff;
}

.button-return {
    font-size: 0.84rem;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    text-align: center;
    background-color: #007bff;
    border: none;
    padding: 5px 15px;
    transition: all 0.2s ease-out;
}

.button-return:hover {
    background-color: #007bffd4;
    color: white;
}

.button-return-2 {
    font-size: 0.84rem;
    border-radius: 5px;
    color: #000000;
    overflow: hidden;
    text-align: center;
    background-color: #21252905;
    border: none;
    padding: 5px 15px;
    transition: all 0.2s ease-out;
}

.button-return-2:hover {
    color: #ffffff;
    background-color: #4c4c4c;
}

.card {
    background-color: #f1f1f1;
}

.tabs-time {
    background: #FFFFFF;
}

.fish-img {
    background-image: url("../images/menu-icon/fish.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: 22% 98%;
}

.dog-img {
    background-image: url("../images/menu-icon/dog.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: 22% 98%;
}

.cat-img {
    background-image: url("../images/menu-icon/cat.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: 22% 98%;
}

.bird-img {
    background-image: url("../images/menu-icon/parrot.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: 22% 98%;
}

.rabbit-img {
    background-image: url("../images/menu-icon/rabbit.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: 22% 98%;
}

.opacity-4 {
    opacity: 0.4;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    top: 7px;
    background-color: #fafad2;
    border-color: #dee2e6;
    border-bottom: none !important;
    margin-bottom: -1px !important;
}

.nav-tabs .nav-link {
    border-top-left-radius: .25rem;
    color: black;
    border-top-right-radius: .25rem;
}

.nav-tabs .nav-link:hover {
    color: #f1c40f;
}

.alert-warning {
    direction: rtl;
}

.alert-dismissible {
    padding: 10px 15px !important;
}

.card-body {
    -ms-flex: 1 1 auto;
    padding: 15px 0;
}

.text-item-cat {
    background-color: #f6f6f6;
}

.text-item-cat p {
    padding: 7px 7px;
    font-size: 0.89rem;
}

.nav-tabs {
    border-bottom: none;
}

.love-item {
    font-size: 0.8rem;
    color: #303030;
    border: 0;
    background-color: transparent;
}

.love-item:hover {
    color: #dc3545;
}

.delete-item {
    font-size: 0.8rem;
    color: #303030;
    border: 0;
    background-color: transparent;
}

.delete-item:hover {
    color: #dc3545;
}

.sub-item-page {
    font-size: 0.77rem;
    color: #4c4c4c;
}

.cat-item-page {
    color: #646464;
}

.text-item-page {
    line-height: 2rem;
    font-size: 0.9rem;
}

.sticky-bottom-img {
    position: absolute;
    bottom: 28px;
}

.sub-item-page::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #ccc;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 50%;
}

.toman-price-off-item {
    color: #989da2 !important;
    font-size: 1.14rem !important;
    text-decoration: line-through;
    font-weight: 400;
}

.price-font-item {
    color: red;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 20px 15px 6px 15px;
    text-align: left;
}

.zoom-text {
    font-size: 0.77rem;
    font-weight: 400;
    color: #797979;
}

.xzoom2, .xzoom3, .xzoom4, .xzoom5 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
    width: inherit !important;
}

.xzoom-gallery4 {
    width: 80px;
}

.breadcrumb-item.active {
    color: #6c757d;
    font-size: 0.75rem;
    font-weight: 400;
}

.box-image-item {
    margin: 20px 0;
}

.border-bottom {
    border-bottom: 1px solid #edf1f5 !important;
}

.border-top {
    border-top: 1px solid #edf1f5 !important;
}

.border-left {
    border-left: 1px solid #edf1f5 !important;
}

.border-bottom-item {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.form-control-textbox-item {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-control-textbox-item-2 {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-control-textbox-item-2:focus {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-control-textbox-item:focus {
    border: 1px solid #ced4da !important;
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
}

.form1 {
    height: 125px;
    width: 100%;
    padding: 10px;
}

.form1:focus {
    height: 125px;
    width: 100%;
    padding: 10px;
}

.box-comment {
    background: #f3f5f7;
    padding: 14px;
    font-size: 0.9rem;
    width: 100%;
    height: auto;
}

.box-comment-user {
    width: 171px;
    padding: 0;
    font-size: 0.82rem;
}

.red-color {
    color: #ff5974;
}

.w-color {
    color: #ffffff;
}

.green-color {
    color: #29b42f;
}

.yellow-color {
    color: #f1c40f;
}

.blue-color {
    color: #1da1f2;
}

.zoom-items-pageItem {
    transition: transform .2s; /* Animation */
}

.zoom-items-pageItem:hover {
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);*/
    transform: translateY(-4px);
}

.zoom-items-pageItems2:hover {
    border: 1px solid #f1c40f;
    /*box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);*/
    transform: translateY(-4px);
}

.height-fix-280px {
    min-height: auto;
    max-height: 270px;
    width: 100%;
}

.top-category {
    background-color: #f1c40f !important;
    border-color: #f1c40f !important;;
    color: #131111 !important;;
    font-size: small;
}

.top-category-s {
    background-color: #e7e7e7 !important;
    color: #131111 !important;;
    font-size: small;
}

.height-fix-300px::-webkit-scrollbar {
    -webkit-appearance: none;
}

.height-fix-300px::-webkit-scrollbar:vertical {
    width: 11px;
}

.height-fix-300px::-webkit-scrollbar:horizontal {
    height: 11px;
}

.height-fix-300px::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: #c5c5c580;
}

.left-0 {
    left: 0;
}

.form-check-items {
    position: relative;
    display: block;
}

.slider-page-item button.owl-prev {
    width: 46px;
    height: 90px;
    position: absolute;
    top: 44%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent !important;
    margin-right: -43px;
    right: 13px;
    left: auto;
    border-radius: 5px;
}

.slider-page-item button.owl-next {
    width: 45px;
    height: 90px;
    position: absolute;
    top: 44%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent !important;
    margin-right: -17px;
    right: auto;
    border-radius: 5px;
}

.slider-page-index button.owl-prev {
    width: 45px;
    height: 90px;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(37%);
    transform: translateY(37%);
    background-color: transparent !important;
    margin-right: -44px;
    right: 36px;
    left: auto;
}

.slider-page-index button.owl-next {
    width: 45px;
    height: 90px;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(37%);
    transform: translateY(37%);
    margin-right: -36px;
    right: auto;
}

.number-down-up {
    width: 100px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    color: #0fabc6;
    background: white;
    font-size: 1rem;
    line-height: 1.467;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottom-0 {
    bottom: 0;
}

.slider-page-item button.owl-next i {
    color: gold;
    font-size: 55px;
}

.slider-page-item button.owl-prev i {
    color: gold;
    font-size: 55px;
}

.slider-page-index button.owl-next i {
    color: black;
    font-size: 55px;
    padding: 20px 10px 20px 10px;
    background-color: #ffc107;
    border-radius: 8px;
}

.slider-page-index button.owl-prev i {
    color: black;
    font-size: 55px;
    padding: 20px 10px 20px 10px;
    background-color: #ffc107;
    border-radius: 8px;
}

.btn-choose-item.active {
    background-color: #f1c40f !important;
    border: none !important;
    color: #1c1c1c !important;
    border-radius: 0.25rem !important;
    outline: none !important;
}

.btn-choose-item:focus {
    background-color: #f1c40f !important;
    border: none !important;
    color: #1c1c1c !important;
    border-radius: 0.25rem !important;
    outline: none !important;
}

.btn-secondary {
    color: #303030;
    font-size: 0.79rem;
    background-color: #cbd4dd;
    border: none !important;
    outline: none !important;
    border-radius: 0.25rem !important;
}

.card-category {
    padding: 13px 22px !important;
}

.card-category-items-products {
    padding: 7px 3px 0 3px !important;
}

.menu-area {
    position: static;
}

.mega-area {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}

.badge-video {
    position: absolute;
    background: mediumvioletred;
    color: white;
    font-size: 14px;
    padding: 0.2rem 0.9rem;
    border-radius: 0.25rem;
    left: 8px;
    top: 8px;
}

.badge-article {
    background: yellowgreen;
}

.badge-number{
    position: absolute;
    background: #f1f1f1;
    color: #121213;
    font-size: 14px;
    height: 28px;
    width: 28px;
    line-height: 29px;
    border-radius: 50%;
    left: 10%;
    top: 7%;
}

.right-day-items {
    padding: 5px 5px !important;
    font-size: 0.8rem;
}

.right-day-items.active, .right-day-items.show {
    background: #ffeeba !important;
    color: #0b0b0b !important;
    padding: 5px 5px !important;
}

.payment-serial-input {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 8px 12px 8px 36px;
    width: 100%;
    text-align: right;
    direction: ltr;
    background-color: #f0f0f1;
    font-size: 0.81rem;
    line-height: 25px;
}

.payment-serial-input:focus {
    font-size: 0.81rem !important;
    line-height: 25px;
}

.payment-serial-input-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(calc(-50% - 2px));
    -ms-transform: translateY(calc(-50% - 2px));
    transform: translateY(calc(-50% - 2px));
    left: 24px;
    line-height: 25px;
    cursor: pointer;
    height: 24px;
}

.title-item-more {
    background: #f1c40f;
    color: #1c1c1c;
    font-size: 1rem;
    padding: 6px 25%;
    border-radius: 50px;
    text-align: right;
    font-weight: 700;
    transition: all 0.26s ease-out;
}

.title-item-more:hover {
    background-color: #3867d6;
    color: #ffffff;
}

.card-confirm {
    background: #FFFFFF;
    border: none !important;
}

.card-header-confirm {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f9f9f9;
    border-bottom: none !important;
}

.card-header-i-products {
    padding: .15rem 1.25rem;
    margin-bottom: 0;
    background-color: #dbdbdb;
    border-bottom: none !important;
}

.card-confirm-acc {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-confirm-i {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}

.item-more {
    background: #f1c40f;
    width: fit-content;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.item-more:hover {
    background-color: #0f3cf1;
    color: #ffffff;
}

.navbar-nav {
    -ms-flex-direction: unset;
    flex-direction: unset;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

/*basket page*/
.card-basket {
    background: white;
}

.ft_5 {
    color: #777;
}

.ft_6 {
    font-size: 0.82rem;
    color: #777;
}

.ft_8 {
    font-size: 1.1rem;
    color: #3f3f3f;
}

.ft_7 {
    font-size: 0.9rem;
    color: #3f3f3f;
}

.number-down-up-basket {
    border: 1px solid #dedede;
}

.border-bottom-c3 {
    border-bottom: 1px solid #dedede;
}

.border-top-c3 {
    border-top: 1px solid #dedede;
}

.left-price-basket {
    position: absolute;
    left: 0;
}

.progress {
    height: 0.55rem;
}

.active-pages-cart {
    color: #000000;
}

.green-border-bottom {
    border-bottom: 3px solid #28a745;
}

.btn-confirm-acc {
    color: #5a5a5a;
}

.btn-confirm-acc:hover, .btn-confirm-acc:focus {
    text-decoration: none;
    color: #0e0e0e;
}

.gray-color {
    color: #919191;
}

.btn-buy {
    padding: 10px 34%;
}

.black-color {
    color: #0e0e0e;
}

.dot-page-basket {
    height: 4px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    border: none;
    margin-top: 7px;
}

.items-products .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    width: 100% !important;
}

.items-dmv .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    width: 100% !important;
}

.body-2 {
    height: 1280px;
    background: #ffeeba;
}

.page-item:first-child .page-link {
    margin-right: 0;
    margin-left: -1px;
    border-radius: 0 .25rem .25rem 0;
}

.page-item:last-child .page-link {
    border-radius: .25rem 0 0 .25rem;
}


/*range price*/

.price-slider {
    margin: auto;
    text-align: center;
    position: relative;
    height: 70px;
}

.psrms {
    height: 45px;
}

.price-slider svg,
.price-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
}

input[type=number] {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    text-align: center;
    font-size: 1em;
    line-height: 24px;
    -moz-appearance: textfield;
    width: 68px !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range {
    border: 2px solid #e60023;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1da1f2;
}

input[type=range]:focus::-ms-fill-lower {
    background: #1da1f2;
}

input[type=range]:focus::-ms-fill-upper {
    background: #1da1f2;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #1da1f2;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #1da1f2;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #1da1f2;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #1da1f2;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    background: #1da1f2;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #1da1f2;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}

/*alert product*/
.alert-product {
    width: 100% !important;
}

.card-filter {
    background-color: #FFFFFF;
    border: none;
}

/*profile form input*/

.form-control-profile {
    display: block;
    width: 100% !important;
    font-weight: 400;
    line-height: 1;
    height: 35px;
    color: #323232 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c4c4c4 !important;
    border-radius: .5rem;
    font-size: 0.89rem !important;
}

.form-control-profile:focus {
    display: block;
    width: 100% !important;
    font-weight: 400;
    line-height: 1;
    height: 35px;
    color: #212121;
    background-clip: padding-box;
    border: 2px solid #f1c40f !important;
    border-radius: .5rem;
    font-size: 0.89rem;
}

.form-control-profile-add {
    display: block;
    width: 100% !important;
    font-weight: 400;
    line-height: 1.5;
    height: 100px;
    color: #323232 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c4c4c4 !important;
    border-radius: .5rem;
    font-size: 0.88rem !important;
}

.form-control-profile-add:focus {
    display: block;
    width: 100% !important;
    font-weight: 400;
    color: #323232 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #f1c40f !important;
}

.form-pr {
    width: 110px !important;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    color: #151718;
    background: white;
    font-size: 0.8rem;
    line-height: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-pr:hover {
    box-shadow: none;
    font-size: 0.8rem;
    line-height: 1;
}

.form-pr:focus {
    box-shadow: none;
    font-size: 0.8rem;
    line-height: 1;
}

.schedule-rows td {
    width: 80px;
    height: 30px;
    margin: 3px;
    padding: 5px;
    background-color: #3498DB;
    cursor: pointer;
}

.schedule-rows td:first-child {
    background-color: transparent;
    text-align: right;
    position: relative;
    top: -12px;
}

.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] {
    background-color: #E74C3C;
}

.schedule-rows td[data-disabled] {
    opacity: 0.55;
}

.img-dmv {
    height: 100px;
    width: 100px;
    align-self: center;
    margin: 0 10px;
}

.name-dmv-p {
    color: #353535;
    font-size: 0.9rem;
}

.name-dmv {
    color: #353535;
    font-size: 0.92rem;
}

.name-dmv-2 {
    color: #2fa525;
    font-size: 0.8rem;
}

.input-date-time {
    border: 2px solid #f1c40f;
    border-radius: 0.55rem;
    padding: 3px 10px;
}

.name-dmv:hover {
    color: #000000;
}

.card-dmv {
    background: white;
    padding: 15px;
    margin: 10px 0;
}

.btn-dmv {
    color: #28a745;
    background-color: #FFFFFF;
    border-color: #28a745;
}

.bg-dmvh-container {
    background-color: #0278ae;
    height: auto;
}
.bg-dmvo-container {
    background-color: #16697a;
    height: auto;
}

.img-item-dmv {
    padding: 0;
}
.carousel-dmv{
    width: 230px;
}
.inner-dmv {
    height: 150px;
    width: 230px;
}
.min-w-150{
    min-width: 150px;
}
.border-h6 {
    border: 2px solid #f1c40f;
    border-radius: 50px;
    background: white;
}
.border-address{
    border: 1px solid #c4c4c4;
    border-radius: .5rem;
    padding: 20px;
}
.border-pill-5{
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    padding: 5px 15px;
    background: #fdfdfd;
}
.font-700{
    font-weight: 700;
}
.width-detail-card{
    padding: 0 17px;
}
.font-pill-detail-card{
    font-size: 10px;
    line-height: normal;
}
.height-slider{
    height: 368px;
    border-radius: 10px;
}
.box-index-2{
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    height: 180px;
}
.box-index-1{
    border: 1px solid transparent;
    border-radius: 10px;
    height: 210px;
}
.img-index{
    border-radius: 17px;
}
.img-index-c{
    height: 260px;
}
/*  media query  */
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    .humberger-menu {
        height: 30px;
        width: 30px;
        position: fixed;
        right: 29px;
        top: 11px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 6060;
    }

    .change .line-1 {
        position: relative;
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }

    .change .line-2 {
        position: relative;
        opacity: 0;
    }

    .change .line-3 {
        position: relative;
        transform: rotateZ(45deg) translate(-8px, -6px);
    }

    .h-nav-top {
        top: 88px;
    }

    .user-menu-dropdown {
        top: 38px !important;
    }

    .sticky-top {
        position: unset;
        top: 0;
        z-index: unset;
    }

    .h-nav-top {
        height: 45px;
        top: 67px;
        z-index: unset;
        width: 100%;
    }

    .smart-scroll {
        position: unset;
        top: 51px;
        z-index: 1010;
    }

    .scrolled-down {
        transform: unset;
        transition: all 0.4s ease-in-out;
    }

    .scrolled-up {
        transform: unset;
        transition: all 0.4s ease-in-out;
    }
    .img-index-c{
        height: 130px;
    }

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 768px) {
    .h-nav-top {
        top: 88px;
    }

    .menu-service {
        width: 100vw;
        border-radius: 0;
        background-color: #f1c40f;
        background-image: none;
    }

    .menu-category {
        width: 100vw;
        border-radius: 0;
        background-color: #f1c40f;
        background-image: none;
    }

    .dropdown-menu {
        top: 42px !important;
    }

    .user-menu-dropdown {
        top: 38px !important;
    }

    .sticky-top {
        position: unset;
        top: 0;
        z-index: unset;
    }

    .h-nav-top {
        height: 50px;
        top: 67px;
        z-index: unset;
        width: 100%;
    }

    .smart-scroll {
        position: unset;
        top: 51pxpx;
        z-index: 1010;
    }

    .scrolled-down {
        transform: unset;
        transition: all 0.4s ease-in-out;
    }

    .scrolled-up {
        transform: unset;
        transition: all 0.4s ease-in-out;
    }
}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 992px) {

    .h-nav-top {
        top: 50px;
    }

    .dropdown-menu {
        top: 38px !important;
    }

    .user-menu-dropdown {
        top: 38px !important;
    }
}

/*/ Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {


}

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}




